[submodule "source/plc/symengine"]
	path = source/plc/symengine
	url = https://github.com/coder0xff/symengine.git
[submodule "source/grammar_gen/yaml-cpp"]
	path = source/grammar_gen/yaml-cpp
	url = ../../jbeder/yaml-cpp.git
